.ul-check li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
html,
body {
  margin-top: 3.5em;
  min-height: calc(100vh - 70px);
  /* min-height: 100%; */
  /* position: relative;
  min-height: 100vh; */
}

#displayBase {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

#edit {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

#tableDiv {
  margin-left: 5em;
  margin-right: 5em;
}
