/* sticky-footer {
  margin-bottom: 0;
  margin-left: 0;
}

.sticky-footer {
  margin-bottom: 0;
  margin-left: 0;
}

html,
footer {
  margin-left: 0;
  margin-right: 0;
} */
/* footer {
  height: 50px;

  /* clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px; */

/* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center; */
/* }  */
