#datosRecibo {
  /* margin-left: 15em; */
  display: inline;
}

#imgRec {
  /* max-width: 250px; */
  margin: auto;
  margin-top: 3em;
  display: block;
  float: left;
  width: 350px;
  height: 150px;
  margin-left: 40%;
  margin-right: 50%;
}

#pdfLink {
  text-align: right;
  display: inline;
  border: 1px solid black;
  margin-left: 82em;
}

#cajaPDF {
  display: inline;
}

#block-container {
  display: flex;
  justify-content: center;
}

#element1 {
  display: inline-block;
  margin-right: 30%;
  margin-left: 10%;
}

#elementFirst {
  display: inline-block;
  margin-right: 10%;
  margin-left: 0%;
}

#elementSecond {
  display: inline-block;
  margin-right: 10%;
  margin-left: 0%;
  margin-top: 0em;
}

#element2 {
  display: inline-block;
}
