
Proyecto/db.sqlite3
Proyecto/Proyecto/__pycache__/settings.cpython-38.pyc
Proyecto/Proyecto/__pycache__/urls.cpython-38.pyc
Proyecto/register/__pycache__/forms.cpython-38.pyc
Proyecto/register/__pycache__/models.cpython-38.pyc
Proyecto/register/__pycache__/views.cpython-38.pyc
