{% load static %}
<!doctype html>

<html>

<head>

    {% block mycss %}
    <!-- También puedo poner directamente aquí el css -->
    <!-- <style> Your entire css </style>  -->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/footer.css' %}">

    {% endblock %}

</head>


<body>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
</body>












</html>