{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Notificationes
{% endblock %}

{% block content %}


<body>

    <div id="edit">
        <form action='.' method='POST'>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class="btn btn-success" value='Guardar' />
        </form>
        <a href="/misProductos/"><button type="button" class="btn btn-secondary">Volver</button></a>

        {% if producto %}
        <a class="delete" href="{% url 'delete-producto' producto.pk %}" class="btn btn-danger btn-sm" role="button"
            aria-pressed="true"><button type="button" href="{% url 'delete-producto' producto.pk %}"
                class="btn btn-danger">Borrar</button>
        </a>

        {% endif %}

    </div>

</body>


{% endblock %}