{% extends 'base.html' %}

{% block content %}

<div id="displayBase">
    <h3>Exportar Datos</h3>
    <p>Exportando de la base de datos..</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Please select format of file.</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Elija un formato.</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
        </select>
        <button class="btn btn-primary" type="submit">Exportar</button>
    </form>

    <a href="/misProductos">Volver</a>
</div>
{% endblock %}