{% extends 'base.html' %}

{% block content %}

<div id="displayBase">
    <h3>Exportar datos del sistema</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Por favor seleccione un formato.</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Elija un formato...</option>
            <!-- Aqui puede añadir los formatos definidos en el método -->
            <option>XLS (Excel)</option>
            <option>CSV</option>
            <option>JSON</option>
            <!--  -->
        </select>
        <button class="btn btn-primary" type="submit">Exportar</button>
    </form>
    <a class="btn btn-secondary" href="/misProductos">Volver</a>
</div>
{% endblock %}