{% extends "base.html" %}
{% load static %}

{% block title %}
Notificationes
{% endblock %}

{% block content %}

<head>

    {% block mycss %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="{%  static 'css/misRecibos.css' %}">
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    {% endblock mycss %}

    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "{% static 'images/companyLogo/base.png'%}";
            return true;
        }
    </script>

</head>

<body style="text-align: center;">
    <div style="text-align: center; margin-top: 4em; margin-bottom: 2em;">
        <a href="/create"><input type="button" class="btn btn-primary" value="Add product"></a>
        <a href="/importData"><input type="button" class="btn btn-success" value="Import data"></a>
        <a href="/exportData"><input type="button" class="btn btn-info" value="Export data"></a>
    </div>

    <div id="tableDiv">
        <table id="table_id" class="dataTables_wrapper" style="text-align: center;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Warranty (Días)</th>
                    <th>Price</th>
                    <th>Moment of creation</th>
                    <th>Mostrar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <!-- <p>{{producto.name}}</p>
                    <a href="/displayProducto/{{producto.id}}">Link</a> -->
                <tr>
                    <td>{{producto.name}}</td>
                    <td>{{producto.quantity}}</td>
                    <td>{{producto.warranty}}</td>
                    <td>{{producto.price}}€</td>
                    <td>{{producto.momentOfCreation}}</td>
                    <td><a href="/displayProducto/{{producto.id}}">Mostrar</a></td>
                    <td><a href="/updateProducto/{{producto.id}}">Editar</a></td>
                    <td>
                        <a class="delete" href="{% url 'delete-producto' producto.pk%}" class="btn btn-danger btn-sm"
                            role="button" aria-pressed="true"><i class="fa fa-trash"
                                style="font-size:24px; color: red;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        })



    </script>

</body>


{% endblock %}