{% load static %}
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{%  static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/80fc6581e7.js" crossorigin="anonymous"></script>

  {% block mycss %}

  {% endblock mycss %}

  <title>
    {% block title %} {% endblock %}
  </title>

</head>

<body>


  <!-- Barra de navegación -->
  {% include "superior/navbar.html" %}



  {% block content %}
  <!-- Aqui dentro es lo que va a cambiar depende de la página -->
  {% endblock %}

  <!-- <footer style="background-color: darkolivegreen; color:white; text-align: right;">
    Cursos gratuitos. Gracias por su visita
  </footer> -->



</body>


{% include "inferior/footer.html" %}


</html>