<html>
  <head>
    <title>
      {% block title %} {% endblock %}
    </title>
  </head>

  <body>
    <h1
      style="background-color: darkolivegreen; color:white; text-align: center;"
    >
      Pildoras Informáticas
    </h1>

    <!-- Barra de navegación -->
    {% include "superior/barra.html" %}

    <h3 style="text-align: right;">Cursos de programación y ofimática</h3>

    {% block content %}
    <!-- Aqui dentro es lo que va a cambiar depende de la página -->
    {% endblock %}

    <footer
      style="background-color: darkolivegreen; color:white; text-align: right;"
    >
      Cursos gratuitos. Gracias por su visita
    </footer>
  </body>
</html>
