{% load static %}
<html>

<head>
  {% block mycss %}

  {% endblock mycss %}

  <title>
    {% block title %} {% endblock %}
  </title>

</head>

<body style="margin-top: 5em">


  <!-- Barra de navegación -->
  {% include "superior/navbar.html" %}



  {% block content %}
  <!-- Aqui dentro es lo que va a cambiar depende de la página -->
  {% endblock %}

  <!-- <footer style="background-color: darkolivegreen; color:white; text-align: right;">
    Cursos gratuitos. Gracias por su visita
  </footer> -->

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>

</html>