{% load static %}

<html>

<head>


    {% block mycss %}
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/inicio.css' %}">

    {% endblock %}
</head>

<body>
    {% block content %}

    <h2 style="text-align: center;">Su cuenta ha sido borrada satisfactoriamente, puede hacer click <a
            href="/inicio">aquí</a> para volver a la
        página de
        inicio</h2>


    <div class="" style="text-align: center;">
        <img src="{% static 'images/adios.jpg' %}" alt="Image" class="img-fluid" style="max-width: 850px">
    </div>
    {% endblock %}

</body>

</html>