{% extends "base.html" %}
{% load static %}

{% block title %}
View
{% endblock %}

{% block content %}


<html>

<head>

    {% block mycss %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/misRecibos.css' %}">

    {% endblock mycss %}

    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "{% static 'images/companyLogo/base.png'%}";
            return true;
        }
    </script>

</head>

<body>


    <div id="filas">

        {% for recibo in user.ticketList.all %}
        <a href="{% url 'generate-pdf' %}?recibo={{ recibo.id }}" target="_blank">
            <figure>
                <img id="imgRecibo" class="rounded-sm"
                    src="{% static 'images/companyLogo/'%}{{ recibo.companyIdentifier }}.png" alt=""
                    onerror="imgError(this);" />
                <!-- <span class="caption">{{td.title}}</span> -->
        </a>
        <figcaption class="caption" id="captionImage">{{recibo.title}}</figcaption>

        </figure>



        {% endfor %}


    </div>


</body>



</html>





{% endblock %}