{% extends "base.html" %}
{% load static %}

{% block title %}
View
{% endblock %}

{% block content %}

<head>

    {% block mycss %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="{%  static 'css/misRecibos.css' %}">
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    {% endblock mycss %}

    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "{% static 'images/companyLogo/base.png'%}";
            return true;
        }
    </script>

</head>

<body style="text-align: center;">


    <div style="text-align: center; margin-top: 4em; margin-bottom: 2em;">

        {% if user.is_store is True %}
        <a href="/createRecibo"><input type="button" class="btn btn-primary" value="Crear Recibo"></a>
        <!-- <a href="/importData"><input type="button" class="btn btn-success" value="Import data"></a> -->
        <a href="/exportRecibo"><input type="button" class="btn btn-info" value="Exportar datos"></a>
        {% endif %}

    </div>



    {% if  user.ticketList.all|length  == 0 %}
    {% if user.is_customer == True %}

    <div class="">
        <h3 class="mb-2 ">¡Vaya!</h3>
        <p class="mb-3 ml-7">Parece que todavia no tienes ningún recibo almacenado en el sistema, pero no te
            preocupes, al
            comprar en una tienda que utilice E-Tick, podrás usar tu tarjeta personal para añadirlo a tu cuenta
        </p>
        <br>
        <p>
            Puedes acceder a tu tarjeta <a href="/profile">aquí</a>
        </p>

        <div class="C-margin-container" id="margin-container">


            <img src="{% static 'images/empty.jpg' %}" alt="Image" class="img-fluid"
                style="max-width: 550px; border-radius: 1%;">


        </div>
        {% endif %}

        {% else %}
        <div id=" tableDiv" style="margin-left: 5em; margin-right: 5em;">
            <table id="table_id" class="dataTables_wrapper" style="text-align: center;">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        {% if user.is_customer is True %}
                        <th>Compañia</th>
                        <!-- <th>Empresa</th> -->
                        {% endif %}
                        <th>Identificador único</th>
                        <th>Precio</th>
                        <th>Fecha de creación</th>
                        <th>Método de pago</th>
                        {% if user.is_customer is True %}
                        <th>Seguimiento</th>
                        {% endif %}

                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recibo in user.ticketList.all %}


                    {% with rYear=recibo.momentOfCreation|date:"Y"|add:"2" %}
                    {% if rYear < year %}
                    <tr style="opacity: 0.5;">
                        {% else %}
                    <tr>
                        {% endif %}
                        {% endwith %}
                        <td><a href="/recibo?={{recibo.id}}">{{recibo.title}}</a></td>
                        {% if user.is_customer is True %}
                        <th>
                            <img id="imgRec" class="rounded-sm" style="max-width: 200; max-height: 105;"
                                src="{% static 'images/companyLogo/'%}{{ recibo.companyIdentifier }}.png" alt=""
                                onerror="imgError(this);" />
                            <p style="visibility: hidden; font-size: xx-small; margin-top: 0%; margin-bottom: 0%;">
                                {{recibo.empresa}}
                            </p>

                        </th>

                        <!-- <td>{{recibo.empresa}}</td> -->
                        {% endif %}
                        <td>{{recibo.identifier}}</td>
                        <td>{{recibo.price}}€</td>
                        <td>{{recibo.momentOfCreation|date}}</td>
                        <td>{{recibo.payment}}
                            {% if recibo.payment == 'EF' %}
                            <i class="fas fa-money-bill" style="color: green;"></i>

                            {% elif recibo.payment == 'TD' %}
                            <i class="fas fa-money-check-alt" style="color: black;"></i>

                            {% else %}
                            <i class="fas fa-money-check" style="color: blue;"></i>

                            {% endif %}


                        </td>

                        {% if user.is_customer is True %}
                        <td>
                            {% if recibo.warranty is True %}
                            <a href="{% url 'update-recibo' recibo.pk%}" role="button" aria-pressed="true">
                                <i class="fas fa-envelope" style=" font-size:24px; color: green;"></i>
                            </a>

                            {% else %}
                            <a href="{% url 'update-recibo' recibo.pk%}" role="button" aria-pressed="true">
                                <i class="fas fa-envelope" style=" font-size:24px; color: red;"></i>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="margin: auto;" id="exampleModalLabel">
                                            Notificación
                                            del sistema</h5>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button> -->
                                    </div>
                                    <div class="modal-body">
                                        Se le notificará por correo cuando alguno de los productos del recibo vaya este
                                        próximo a expirar su garantía
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            style="margin-right: 42%;">Cerrar</button>
                                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                        <td>
                            <a class="delete" href="{% url 'delete-recibo' recibo.pk%}" class="btn btn-danger btn-sm"
                                role="button" aria-pressed="true">
                                <i class="fa fa-trash" style="font-size:24px; color: red;"></i>
                            </a>

                            </i>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}





        <script>
            $(document).ready(function () {
                // $('#table_id').DataTable();

                $('#table_id').dataTable({
                    "pageLength": 5,
                    "order": [[2, "desc"]], //or asc 
                    // "language": {
                    //     "emptyTable": "Aún no tienes ningún recibo.",
                    //     url: '{% static "json/es_ES.json" %}'
                    // },
                });

            });

        // function reloadTable() {
        //     console.log('entra en la funcion');
        //     var table = $('#table_id').DataTable();
        //     table.ajax().reload();

        // }



        </script>

</body>

<!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="margin-top: 2em;">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer> -->


{% endblock %}