{% extends "base.html" %}
{% load static %}
{% load qr_code %}
{% load crispy_forms_tags %}

{% block title %}
View
{% endblock %}

{% block content %}


<html>

<head>

    {% block mycss %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/recibo.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    {% endblock mycss %}

    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "{% static 'images/companyLogo/base.png'%}";
            return true;
        }
    </script>

</head>

<body>

    <!-- <div>
        <img id="imgRec" class="rounded-sm" src="{% static 'images/companyLogo/'%}{{ recibo.companyIdentifier }}.png"
            alt="" onerror="imgError(this);" />
    </div> -->



    {% if codeString is not None %}
    <div>

        {% if code == '3' %}
        <div class="alert alert-danger" role="alert">
            {{ codeString }}

        </div>
        {% elif code == '2' %}
        <div class="alert alert-warning" role="alert">
            {{ codeString }}

        </div>
        {% elif code == '1' %}
        <div class="alert alert-success" role="alert">
            {{ codeString }}

        </div>
        {% endif %}


    </div>
    <br>
    <div style="margin-top: 5em;"></div>
    <br>

    {% endif %}

    <div id="elementFirst">
        <p><b> Titulo del recibo:</b> {{ recibo.title }}</p>
        <p><b>Empresa: </b>{{recibo.empresa}}</p>
        <p><b>Direción: </b>{{recibo.address}}</p>
        <p><b>Identificador: </b>{{recibo.identifier}}</p>
        <p><b>Precio total: </b>{{recibo.price}}</p>
        <p><b>Método de pago: </b>{{recibo.payment}}</p>

    </div>


    {% if recibo.isCopy is False  %}
    <div id="element2">
        <span id=cajaPDF>
            <a href="{% url 'cvopen' %}?recibo={{ recibo.id }}" target="_blank">

                <img id="imgRecibo" class="rounded-sm" src="{% static 'images/'%}add.png" alt=""
                    style="max-width: 300;" />

                <span class="caption">{{td.title}}</span>

            </a>
        </span>

    </div>


    <div id="element2">
        <span id=cajaPDF data-toggle="modal" data-target="#exampleModal">
            <figure>
                <img id="imgRecibo" class="rounded-sm" src="{% static 'images/'%}QR.png" alt=""
                    style="max-width: 300;" />

                <span class="caption">{{td.title}}</span>


        </span>

    </div>
    {% endif %}

    <div id="element2">
        <span id=cajaPDF>
            <a href="{% url 'generate-pdf' %}?recibo={{ recibo.id }}" target="_blank">
                <figure>
                    <img id="imgRecibo" class="rounded-sm" src="{% static 'images/'%}PDFIcon.png" alt=""
                        style="max-width: 300;" />

                    <span class="caption">{{td.title}}</span>
            </a>
        </span>



    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aqui puede descargarse el recibo de compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div style="text-align: center;">
                        {% qr_from_text shareUrl size="M" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-right: 45%;" class="btn btn-secondary"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalForm -->
    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aggggggggggggg</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div style="text-align: center;">
                        <form action='.' method='POST'>{% csrf_token %}
                            {{ form|crispy }}
                            <input type='submit' class="btn btn-success" value='Guardar' />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-right: 45%;" class="btn btn-secondary"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</body>



</html>





{% endblock %}