{% extends "base.html" %}" %}

{% block title %} Create an Account {%endblock %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container" style="margin-top: 50px;">

    {% if user.is_authenticated %}
    <p style="text-align: center;">Ya estas logueado en el sistema, un usuario logueado no puede volver a registrarse.
    </p>

    {% endif %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form | crispy }}
        <button type="submit" class="btn btn-success">Register</button>

        <br>
        <br>
        <br>
        <br>
        <br><br>
    </form>


</div>



{% endblock %}